
@media (min-width: 1920px) and (max-width: 2560px) {

    body {
        background-color: #84bae8;
        margin: 0;
    }

    #navBar {
        position: fixed;
        top: 0;
        background-color: #E3DEDE;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navList {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    .navItem {
        display: inline;
      }

    .anchorClass {
        text-decoration: none;
        color: black;
        margin: 0 70px;
        float: right;
        font-family: Calibri;
        font-size: 20px;
    }

    .navScore {
            text-decoration: none;
            color: black;
            margin: 0 70px;
            margin-left: 50%;
            margin-right: 50%;
            font-family: Calibri;
            font-size: 20px;
            width: 100px;
        }

    .mainGridFbox {
        display: flex;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 30px;
        height: 900px;
        width: 900px;
        border-width: 0.5em;
    }

    .dragFbox {
        display: flex;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100px;
        width: 700px;
        border-width: 0.5em;
    }

    .gridContainer {
        display: grid;
        margin: auto;
        outline: 1px solid black;
        height: 900px;
        width: 900px;
        grid-template-columns: repeat(auto-fill, 60px);
        grid-template-rows: repeat(auto-fill, 60px);
    }

    .belowBox {
        outline: 1px solid black;
        width: 900px;
        margin-top: 10px;
        background-color: #347aeb;
    }

    .dragGrid {
        display: grid;
        padding-top: 30px;
        column-gap: 40px;
        height: 80px;
        width: 900px;
        grid-template-columns: repeat(7, 100px);
        grid-template-rows: repeat(auto-fill, 100px);
    }

    .dragElem {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #F2BF66;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
        font-size: 35px;
    }
    
    .draggedElem {
        position: relative;
        bottom: 60px;
        z-index: 3;
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #F2BF66;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
        font-size: 35px;
    }

    .gridElem {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: white;
    }

    .gridElemStartWord {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #E6B7ED;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
        }
    
    .gridElemTripleWord {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #FFC0CB;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemDoubleLetter {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #ADD8E6;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #E6B7ED;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemTripleLetter {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #88B6EB;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gameButton {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    body {
        background-color: #84bae8;
        margin: 0;
    }

    #navBar {
        position: fixed;
        top: 0;
        background-color: #E3DEDE;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navList {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    .navItem {
        display: inline;
      }

    .anchorClass {
        text-decoration: none;
        color: black;
        margin: 0 70px;
        float: right;
        font-family: Calibri;
        font-size: 20px;
    }

    .navScore {
        text-decoration: none;
        color: black;
        margin: 0 70px;
        margin-left: 50%;
        margin-right: 50%;
        font-family: Calibri;
        font-size: 20px;
        width: 100px;
    }

    h1 {
        margin-top: 60px;
        text-align: center;
        font-family: Calibri;
        font-size: 25px;
    }

    .mainGridFbox {
        display: flex;
        margin: auto;
        padding-top: 75px;
        height: 700px;
        width: 700px;
        border-width: 0.5em;
    }

    .dragFbox {
        display: flex;
        margin: auto;
        background-color: black;
        padding-bottom: 15px;
        height: 100px;
        width: 700px;
        border-width: 0.5em;
    }

    .gridContainer {
        position: absolute;
        display: grid;
        margin: auto;
        outline: 1px solid black;
        height: 675px;
        width: 675px;
        grid-template-columns: repeat(auto-fill, 45px);
        grid-template-rows: repeat(auto-fill, 45px);
    }

    .belowBox {
        outline: 1px solid black;
        width: 675px;
        margin-top: 10px;
        background-color: #347aeb;
    }

    .dragGrid {
        display: grid;
        margin: auto;
        padding-top: 15px;
        column-gap: 2px;
        height: 80px;
        width: 600px;
        grid-template-columns: repeat(7, 85px);
        grid-template-rows: repeat(auto-fill, 85px);
    }

    .dragElem {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #F2BF66;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
    }

    .draggedElem {
        position: relative;
        bottom: 45px;
        z-index: 3;
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #F2BF66;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
    }

    .gridOutliners {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
    }

    .gridElem {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: white;
    }

    .gridElemStartWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #E6B7ED;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
        }
    
    .gridElemTripleWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #FFC0CB;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #20B2AA;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemDoubleLetter {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #ADD8E6;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #E6B7ED;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemTripleLetter {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #88B6EB;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gameButton {
        margin-left: 200px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {

    body {
        background-color: #84bae8;
        margin: 0;
    }

    #navBar {
        position: fixed;
        top: 0;
        background-color: #E3DEDE;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navList {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    .navItem {
        display: inline;
      }

    .anchorClass {
        text-decoration: none;
        color: black;
        margin: 0 70px;
        float: right;
        font-family: Calibri;
        font-size: 15px;
    }

    .navScore {
        text-decoration: none;
        color: black;
        margin: 0 70px;
        margin-left: 50%;
        margin-right: 50%;
        font-family: Calibri;
        font-size: 15px;
        width: 100px;
    }
        
    h1 {
        margin-top: 60px;
        text-align: center;
        font-family: Calibri;
        font-size: 25px;
    }

    .mainGridFbox {
        display: flex;
        margin: auto;
        padding-top: 50px;
        height: 600px;
        width: 650px;
        border-width: 0.5em;
    }

    .dragFbox {
        display: flex;
        margin: auto;
        background-color: #84bae8;
        padding-bottom: 30px;
        height: 100px;
        width: 700px;
        border-top: 1px solid black;
        border-width: 0.5em;
    }

    .gridContainer {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        outline: 1px solid black;
        height: 600px;
        width: 600px;
        grid-template-columns: repeat(auto-fill, 40px);
        grid-template-rows: repeat(auto-fill, 40px);
    }

    .belowBox {
        outline: 1px solid black;
        width: 600px;
        margin-top: 10px;
        background-color: #347aeb;
    }
    .dragGrid {
        display: grid;
        margin-top: 10px;
        padding-top: 10px;
        column-gap: 53px;
        height: 80px;
        width: 600px;
        grid-template-columns: repeat(7, 40px);
        grid-template-rows: repeat(auto-fill, 40px);
    }

    .dragElem {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #F2BF66;
        font-family: Calibri;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
    }

    .draggedElem {
        position: relative;
        bottom: 35px;
        z-index: 3;
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #F2BF66;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
        font-size: 25px;
    }

    .gridElem {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: white;
        justify-content: center;
    }

    .gridElemStartWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #E6B7ED;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
        }
    
    .gridElemTripleWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #FFC0CB;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #20B2AA;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemDoubleLetter {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #ADD8E6;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #E6B7ED;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemTripleLetter {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #88B6EB;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gameButton {
        margin-left: 150px;
    }
}

/* https://github.com/richardshepherd/CSS3-Flexbox-Tutorial/commit/e81bc042b0988e96494867bab2fcafabbb95bca0 */
/* https://www.smashingmagazine.com/2011/09/css3-flexible-box-layout-explained/ */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* https://www.smashingmagazine.com/2020/01/understanding-css-grid-lines/ */
/* https://web.dev/optimize-css-background-images-with-media-queries/ */
