
@media (min-width: 1920px) and (max-width: 2560px) {

    body {
        background-color: #EDEAB7;
        margin: 0;
    }

    nav {
        position: fixed;
        top: 0;
        background-color: #E3DEDE;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    ul {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    li {
        display: inline;
        color: black;
        margin: 0 100px;
        font-family: Calibri;
        font-size: 20px;
      }

    a {
        text-decoration: none;
        color: black;
    }
        
    h1 {
        margin-top: 100px;
        text-align: center;
        font-family: Calibri;
        font-size: 35px;
    }

    .outerFbox {
        display: flex;
        margin: auto; 
        padding: 60px;
        height: 900px;
        width: 900px;
        border-width: 0.5em;
    }

    .gridContainer {
        display: grid;
        margin: auto;
        outline: 1px solid black;
        height: 900px;
        width: 900px;
        grid-template-columns: repeat(auto-fill, 60px);
        grid-template-rows: repeat(auto-fill, 60px);
    }

    .gridElem {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: white;
    }
    
    .gridElemTripleWord {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #FFC0CB;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #20B2AA;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemDoubleLetter {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #ADD8E6;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #E6B7ED;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }

    .gridElemTripleLetter {
        outline: 1px solid black;
        height: 60px;
        width: 60px;
        background-color: #88B6EB;
        font-size: 35px;
        font-family: Calibri;
        text-align: center;
        line-height: 60px;
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    body {
        background-color: #EDEAB7;
        margin: 0;
    }

    nav {
        position: fixed;
        top: 0;
        background-color: #E3DEDE;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    ul {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    li {
        display: inline;
        color: black;
        margin: 0 75px;
        font-family: Calibri;
        font-size: 15px;
      }

    a {
        text-decoration: none;
        color: black;
    }
        
    h1 {
        margin-top: 60px;
        text-align: center;
        font-family: Calibri;
        font-size: 25px;
    }

    .outerFbox {
        display: flex;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        height: 675px;
        width: 675px;
        border-width: 0.5em;
    }

    .gridContainer {
        display: grid;
        margin: auto;
        outline: 1px solid black;
        height: 675px;
        width: 675px;
        grid-template-columns: repeat(auto-fill, 45px);
        grid-template-rows: repeat(auto-fill, 45px);
    }

    .gridOutliners {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
    }

    .gridElem {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: white;
    }
    
    .gridElemTripleWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #FFC0CB;
        font-size: 30px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #20B2AA;
        font-size: 30px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemDoubleLetter {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #ADD8E6;
        font-size: 30px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #E6B7ED;
        font-size: 30px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }

    .gridElemTripleLetter {
        outline: 1px solid black;
        height: 45px;
        width: 45px;
        background-color: #88B6EB;
        font-size: 30px;
        font-family: Calibri;
        text-align: center;
        line-height: 45px;
    }
}


@media (min-width: 800px) and (max-width: 1200px) {

    body {
        background-color: #EDEAB7;
        margin: 0;
    }

    #navBar {
        position: fixed;
        top: 0;
        background-color: #E3DEDE;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navList {
        display: flex;
        top: 0;
        margin: 0;
        padding: 0;
        float: right;
        text-decoration: none;
    }

    .navItem {
        display: inline;
      }

    .anchorClass {
        text-decoration: none;
        color: black;
        margin: 0 70px;
        float: right;
        font-family: Calibri;
        font-size: 15px;
    }
        
    h1 {
        margin-top: 60px;
        text-align: center;
        font-family: Calibri;
        font-size: 25px;
    }

    .outerFbox {
        display: box;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        height: 700px;
        width: 700px;
        border-width: 0.5em;
    }

    .gridContainer {
        display: grid;
        margin: auto;
        outline: 1px solid black;
        height: 600px;
        width: 600px;
        grid-template-columns: repeat(auto-fill, 40px);
        grid-template-rows: repeat(auto-fill, 40px);
    }

    .gridElem {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: white;
    }
    
    .gridElemTripleWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #FFC0CB;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #20B2AA;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemDoubleLetter {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #ADD8E6;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemDoubleWord {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #E6B7ED;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }

    .gridElemTripleLetter {
        outline: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: #88B6EB;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        line-height: 35px;
    }
}



/* https://github.com/richardshepherd/CSS3-Flexbox-Tutorial/commit/e81bc042b0988e96494867bab2fcafabbb95bca0 */
/* https://www.smashingmagazine.com/2011/09/css3-flexible-box-layout-explained/ */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* https://www.smashingmagazine.com/2020/01/understanding-css-grid-lines/ */
/* https://web.dev/optimize-css-background-images-with-media-queries/ */